* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #F0F0F0;
  justify-content: center;
  align-items: center;
}

.side-menu {
  height: 95%;
  width: 12%;
  min-width: 180px;
  padding: 0 16px;
}

.map-container {
  height: 100%;
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-interactive {
  background-color: white;
  height: 95%;
  width: 100%;
  border-radius: 16px;
}

.logo-container {
  width: 100%;
  min-height: 90px;
  max-height: 120px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  width: 100%;
  height: 75%;
}

.logo-and-title {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-title {
  transform: rotate(270deg);
  font-size: 12pt;
  font-weight: bold;
  line-height: 90%;
}

.logo-image {
  width: 30%;
  max-width: 60px;
  min-width: 50px;
}

.page-title {
  font-size: 12pt;
  font-weight: bold;
  color: #188FE5;
}

.form-label {
  text-transform: uppercase;
  font-size: 9pt;
  font-weight: 500;
  color: #4F4F4F;
  margin-left: 5px;
}

.form-select {
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  margin: 5px 0;
  color: #4F4F4F;
  box-shadow: #a1a1a1 2px 2px 3px;
}

.form-select:hover {
  cursor: pointer;
}

.radio-option {
  padding: 8px;
  display: block;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 10pt;
  box-shadow: #a1a1a1 2px 2px 3px;
  font-family: Arial;
}

.radio-option:hover {
  cursor: pointer;
  color: #188FE5;
}

.radio-button {
  display: none;
}

.radio-button:checked + label {
  background-color: white;
  color: #188FE5;
  font-weight: bold;
}

.form-section {
  margin-top: 20px;
}

.submit-button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Inter';
  font-size: 9pt;
  font-weight: 500;
  color: white;
  background-color: #188FE5;
  box-shadow: #a1a1a1 2px 2px 3px;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #1374b9;
  color: white;
}
.submit-button:active {
  background-color: #0f5c93;
  color: white;
}

.svgMap-map-wrapper {
  background: #fff !important;
  height: 95vh !important;
  width: auto !important;
  border-radius: 16px !important;
}

.country-info-container {
  height: 100%;
  width: 100%;
}

.country-title-and-year {
  min-height: 90px;
  max-height: 120px;
  height: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.country-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14pt;
  color: #188FE5;
}

.country-year {
  text-align: center;
  font-size: 9pt;
  font-weight: 500;
  color: #4F4F4F;
}

.top-countries-container {
  font-size: 10pt;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  text-transform: uppercase;
  box-shadow: #a1a1a1 2px 2px 3px;
}

.top-countries-heading {
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.top-5 {
  color: #188FE5;
  font-weight: bold;
}

.top-country {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.brief-country-info {
  font-size: 10pt;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  box-shadow: #a1a1a1 2px 2px 3px;
}

.text-highlight {
  margin: 0 5px;
  color:#188FE5;
  font-weight: bold;
}

.numbering {
  display: inline-block;
  width: 12%;
  text-align: center;
}

.numbered-text {
  display: inline-block;
  width: 80%;
}

.country-summary-container {
  margin-top: 25px;
}

.summary-element {
  margin: 5px 0;
}

.logo-link {
  text-decoration: none;
}

.logo-link:visited {
  color: black;
}

.choose-year {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.chosen {
  text-decoration: underline;
}

#startYear, #endYear {
  width: 48%;
}

.year-period-select {
  display: flex;
  justify-content: space-between;
}