* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #F0F0F0;
  justify-content: center;
  align-items: center;
}

.side-menu {
  height: 95%;
  width: 12%;
  min-width: 180px;
  padding: 0 16px;
}

.map-container {
  height: 100%;
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-interactive {
  background-color: white;
  height: 95%;
  width: 100%;
  border-radius: 16px;
}

.logo-container {
  width: 100%;
  min-height: 90px;
  max-height: 120px;
  height: 20%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  width: 100%;
  /* min-height: 90px;
  max-height: 120px; */
  height: 75%;
  /* background-color: white; */
}

.logo-and-title {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-title {
  transform: rotate(270deg);
  font-size: 12pt;
  font-weight: bold;
  line-height: 90%;
}

.logo-image {
  width: 30%;
  max-width: 60px;
  min-width: 50px;
}

.page-title {
  font-size: 12pt;
  font-weight: bold;
  color: #188FE5;
}

.form-label {
  text-transform: uppercase;
  font-size: 9pt;
  font-weight: 500;
  color: #4F4F4F;
  margin-left: 5px;
}

.form-select {
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  margin: 5px 0;
  color: #4F4F4F;
  box-shadow: #a1a1a1 2px 2px 3px;
}

.form-select:hover {
  cursor: pointer;
}

.radio-option {
  padding: 8px;
  display: block;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 10pt;
  box-shadow: #a1a1a1 2px 2px 3px;
  font-family: Arial;
}

.radio-option:hover {
  cursor: pointer;
  color: #188FE5;
}

.radio-button {
  display: none;
}

.radio-button:checked + label {
  background-color: white;
  color: #188FE5;
  font-weight: bold;
}

.form-section {
  margin-top: 20px;
}

.submit-button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Inter';
  font-size: 9pt;
  font-weight: 500;
  color: white;
  background-color: #188FE5;
  box-shadow: #a1a1a1 2px 2px 3px;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #1374b9;
  color: white;
}
.submit-button:active {
  background-color: #0f5c93;
  color: white;
}

.svgMap-map-wrapper {
  background: #fff !important;
  height: 95vh !important;
  width: auto !important;
  border-radius: 16px !important;
}

.country-info-container {
  height: 100%;
  width: 100%;
  /* padding: 20px 4px; */
}

.country-title-and-year {
  min-height: 90px;
  max-height: 120px;
  height: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.country-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14pt;
  color: #188FE5;
}

.country-year {
  text-align: center;
  font-size: 9pt;
  font-weight: 500;
  color: #4F4F4F;
}

.top-countries-container {
  font-size: 10pt;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  text-transform: uppercase;
  box-shadow: #a1a1a1 2px 2px 3px;
}

.top-countries-heading {
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.top-5 {
  color: #188FE5;
  font-weight: bold;
}

.top-country {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.brief-country-info {
  font-size: 10pt;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  /* text-transform: uppercase; */
  box-shadow: #a1a1a1 2px 2px 3px;
}

.text-highlight {
  margin: 0 5px;
  color:#188FE5;
  font-weight: bold;
}

.numbering {
  display: inline-block;
  width: 12%;
  text-align: center;
}

.numbered-text {
  display: inline-block;
  width: 80%;
}

.country-summary-container {
  margin-top: 25px;
}

.summary-element {
  margin: 5px 0;
}

.logo-link {
  text-decoration: none;
}

.logo-link:visited {
  color: black;
}

.main-page-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.main-logo-container {
  width: 25%;
  margin-top: 5%;
  padding-left: 5%;
}

.main-logo-and-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-logo-title {
  transform: rotate(270deg);
  font-size: 16pt;
  font-weight: bold;
  line-height: 90%;
}

.main-logo-image {
  width: 70px
}

.main-data-container {
  width: 50%;
  height: 100%;
  /* background-color: #a1a1a1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-empty-container {
  width: 25%;
}

.main-data-inner-container {
  height: 60%;
  max-width: 600px;
  min-width: 450px;
  width: 90%;
}

.main-data-heading {
  font-size: 18pt;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
}

.main-data-table {
  width: 100%;
}

.main-data-label-container {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  width: 100%;
}

.main-data-label-name {
  text-transform: uppercase;
  width: 50%;
  font-weight: 500;
  font-size: 10pt;
}

.main-data-label-period, .main-data-label-source {
  text-transform: uppercase;
  width: 25%;
  font-weight: 500;
  font-size: 10pt;
}

.main-data-item-container {

}

.main-data-item {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.main-data-item:hover {
  border-color: rgb(24, 143, 229);
}

.main-data-item-name {
  width: 50%;
  font-weight: 500;
  font-size: 12pt;
}

.main-data-item-period, .main-data-item-source {
  width: 25%;
}

a {
  color: black;
}

a:hover {
  color: #188FE5;
}

.main-data-link {
  width: 75%;
}

.choose-year {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.chosen {
  text-decoration: underline;
}

#startYear, #endYear {
  width: 48%;
}

.year-period-select {
  display: flex;
  justify-content: space-between;
}